{% from '_utils.html' import render_field_with_errors, render_boolean_field, render_field %}
{% import '_wtf.html' as wtf %}
{% include 'security/_messages.html' %}
{% extends 'admin/master.html' %}
{% block head_css %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}
{% block page_body %}
    <div id="fullscreen_bg" class="fullscreen_bg"/>

    <div class="jumbotron">
        <div class="container">
            <h1>信息管理系统
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">用户登录</div>
                    <div class="panel-body">
{#                        {{ wtf.quick_form(login_user_form,#}
{#            action=url_for_security('login'),#}
{#            form_type='horizontal',#}
{#            button_map={'submit':'primary'},#}
{#            id='login') }}#}
                        <form action="{{ url_for_security('login') }}" method="post" name="login_user_form"
                              class="form form form-horizontal" role="form">
                            {{ login_user_form.hidden_tag() }}
                            <div class="form-group{% if login_user_form.login_name.errors %} has-error{% endif %}">
                                <label class="control-label col-lg-2" for="login_name">用户名</label>
                                <div class="col-lg-10">
                                    {{ login_user_form.login_name(size=32, placeholder="请输入用户名或邮件地址", class="form-control") }}
                                </div>
                                {% for error in login_user_form.login_name.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group{% if login_user_form.password.errors %} has-error{% endif %}">
                                <label class="control-label col-lg-2" for="password">密码</label>
                                <div class="col-lg-10">
                                    {{ login_user_form.password(size=32, placeholder="请输入密码", class="form-control") }}
                                </div>
                                {% for error in login_user_form.password.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    {{ login_user_form.remember }}  {{ login_user_form.remember.label }}
                                </div>
                            </div>
                            {{ render_field(login_user_form.next) }}
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    {{ login_user_form.submit(class="btn btn-primary") }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "security/_menu.html" %}


{% endblock %}

{% block tail_js %}
    {{ super() }}
    {#    <script src="{{ url_for('public.static', filename='js/script.js') }}" type="text/javascript"></script>#}
{% endblock %}