{% import '_wtf.html' as wtf %}
{% include 'security/_messages.html' %}
{% extends 'admin/master.html' %}
{% block head_css %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}
{% block page_body %}
    <div id="fullscreen_bg" class="fullscreen_bg"/>

    <div class="jumbotron">
        <div class="container">
            <h1>信息管理系统
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">用户登录</div>
                    <div class="panel-body">
                        {#{{ wtf.quick_form(login_user_form,#}
                        {#    action=url_for_security('login'),#}
                        {#    form_type='horizontal',#}
                        {#    button_map={'submit':'primary'},#}
                        {#    id='login') }}#}
                        <form action="{{ url_for_security('login') }}" method="post" name="login_user_form"
                              class="form form form-horizontal" role="form" id="login-form">
                            {{ login_user_form.hidden_tag() }}
                            {{ wtf.form_field(login_user_form.login_name, form_type='horizontal',
                            horizontal_columns=('lg', 2, 10), placeholder='请输入用户名或邮件地址') }}
                            {{ wtf.form_field(login_user_form.password, form_type='horizontal',
                            horizontal_columns=('lg', 2, 10), placeholder='请输入用户名或邮件地址') }}
                            {{ wtf.form_field(login_user_form.remember, form_type='horizontal',
                            horizontal_columns=('lg', 2, 10)) }}
                            {{ wtf.render_field(login_user_form.next) }}
                            {{ wtf.form_field(login_user_form.submit, form_type='horizontal',
                            horizontal_columns=('lg', 2, 10), button_map={'submit': 'primary'}) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "security/_menu.html" %}


{% endblock %}

{% block tail_js %}
    {{ super() }}
    {#    <script src="{{ url_for('public.static', filename='js/script.js') }}" type="text/javascript"></script>#}
{% endblock %}